body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000;
    background: azure;
}

button {
    background-color: aquamarine;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(97, 158, 255);
    transition: .5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}